@font-face {
    font-family: "Roboto";
    src: url("Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --bg: #ffffff;
    --text-size: 0.9vw;
    --azul: #0578BD;
    --verde: #08cf62;
}


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.logo{
    width: 10vw;
    margin-bottom: 2vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1vw;
}

.inputs{
    background-color: var(--azul);
    border-radius: 0.3vw;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.1vw;
    align-items: baseline;
    padding: 1vw;
}

.inputs input{
    border: none;
    border-bottom: 0.2vw solid #fff;
    background: transparent;
    text-align: center;
    outline: none;
    text-transform: capitalize;
    color: white;
    font-weight: normal;
    font-size: var(--text-size);
    width: 60%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input-cidade{
    display: flex;
    width: 101%;
    justify-content: space-between;
    gap: 0.5vw;
    align-items: center;
}


.input-uf{
    background-color: var(--azul);
    padding: 0.4vw;
    border-radius: 0.2vw;
}

.input-uf select{
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0.5vw;
    border-radius: 0.3vw;
    border: none;
    color: var(--bg);
}


.inputs label{
    font-size: var(--text-size);
    color: var(--bg);
}

.btn-pedido{
    width: 100%;
    padding: 0.75vw;
    background-color: var(--verde);
    border: none;
    color: var(--bg);
    border-radius: 0.3vw;
    cursor: pointer;
}

/* ------------------------------------------------------------- */
/* MOBILE */

@media screen and (max-width: 600px) {

    .container{
        width: 100vw;
    }

    .logo{
        width: 50vw;
        padding: 5vw;

    }
    
    .subcontainer{
        gap: 3vw;
    }

    .inputs{
        padding: 5vw;
        flex-direction: column;
    }

    .input-cidade{
        width: 100%;
    }

    .inputs input{
        border: none;
        border-bottom: 1vw solid #fff;
        font-size: 5vw;
        width: 100%;
        text-align: left;
    }
    
    .inputs label{
        font-size: var(--text-size);
        margin-bottom: 2vw;
        color: var(--bg);
        font-size: 4vw;
    }

    .btn-pedido{
        width: 100%;
        padding: 4vw;
        border-radius: 0.3vw;
        cursor: pointer;
    }

    .input-uf{
        background-color: var(--azul);
        padding: 4vw;
        border-radius: 0.2vw;
    }

    .input-uf select{
        padding: 4.5vw;
        font-size: 5vw;
    }
    

}